<link rel="stylesheet" href="/css/header.css">
<nav >
    <h1 style="display: inline-block;">CSV Beautifier</h1>
    <a href="/"><button class="btn btn-outline-success" style="float: right;" >Home</button></a>
</nav>
<br><br>