<!-- <style>
    .table-sortable th {
        cursor: pointer;
    }

    .table-sortable .th-sort-asc::after {
        content: "\25b4";
    }

    .table-sortable .th-sort-desc::after {
        content: "\25be";
    }

    .table-sortable .th-sort-asc::after,
    .table-sortable .th-sort-desc::after {
        margin-left: 5px;
    }

    .table-sortable .th-sort-asc,
    .table-sortable .th-sort-desc {
        background: rgba(0, 0, 0, 0.1);
    }

</style> -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
<link rel="stylesheet" href="/css/table.css">
<h4>Table</h4>
   
<div class="container" >
    <nav class="navbar navbar-light bg-light" >
        <!-- <form class="form-inline"> -->
        <input class="form-control mr-sm-2" id="myInput" type="search"  placeholder="Search by <%= csvHeader[0] %>" onkeyup="myFunction()" aria-label="Search"  style="display: inline;">
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        <!-- </form> -->
    </nav>
</div>
<table class="table table-sortable" id="myTable">
    
    <tr>
        <% for (var i =0 ; i < csvHeader.length;  i++ ) { %>
            <th> <%= csvHeader[i] %> </th>
        <% } %>
    </tr>

    <tbody>
        <% for (var i =0 ; i < csvData.length;  i++ ) { %>
            <tr>
                <% for (var j = 0 ; j < csvData[i].length;  j++ ) { %>
                    <td> <%= csvData[i][j] %> </td>
                <% } %>
                
            </tr>
        <% } %>
    </tbody>
</table>
<div class="page">
    <a onclick="prevPage()" href='#' id="btn_prev">Prev</a>
    <a onclick="nextPage()" href='#' id="btn_next">Next</a>
    Page: <span id="page"></span>
</div>
<!-- <p><button onclick="sortTable()">Sort</button></p> -->
<script src="/js/table.js"></script>